@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Poppins', sans-serif;
  --text-color: #303030;
  --hue: 194;
  --primary-color:  hsl(var(--hue), 100%, 63%)
}

body * {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
}

body {
  background-color: rgb(250, 254, 255);
  color: var(--text-color);
}

/* acessibilidade screen reader */
.sr-only {
  position: absolute;
  width: .1rem;
  height: .1rem;
  padding: 0;
  margin: -.1rem;
  overflow: hidden;
}

button {
  background-color: var(--primary-color);
}

#app {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

