@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-text: #7d7987;
  --color-emphasys: #ff9900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

div#hero {
  max-width: 592px;
  margin: 0 auto 72px;
}

div#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  line-height: 56px;
  font-size: 49px;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: var(--color-emphasys);
}

p {
  color: var(--color-text);
  line-height: 28px;
  font-size: 14px;
}

div#footer {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 33px;
}

div#footer a + a{
  margin-left: 28px;
}

div#line {
  height: 0;
  margin: 0 auto 8px;
  max-width: 568px;
  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0;
}