@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-size: 62.5%;
  --bg-color: #000000;

  --input-bg-color: #06181C;

  --btn-fav-color: #065E7C;
  --btn-fav-text-color: #ffffff;
  --btn-remove-color: #F75A68;

  --table-text-color: #E1E1E6;
  --table-border-color: #4A808C;
  --th-bg-color: #092D38;
  --tr-even-bg-color: #06181C;
  --tr-odd-bg-color: #06161b80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

#app {
  max-width: 110rem;
}

header {
  display: flex;
  gap: 29rem;
  margin-top: 11.5rem;
}

#form-controls {
  display: flex;
  gap: .8rem;

  & input {
    width: 46rem;
    padding: 1.6rem;
    border: none;
    border-radius: .5rem;
    outline-color: var(--btn-fav-color);
    background: var(--input-bg-color);
    color: var(--table-text-color);
  }

  & button {
    cursor: pointer;
    padding: 1.2rem 3.2rem;
  
    line-height: 2.4rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
  
    border: none;
    border-radius: .5rem;
    color: var(--btn-fav-text-color);
    background-color: var(--btn-fav-color);
    transition: all .3s ease;

    & i { 
      font-size: 2.4rem;
    }
  }

  & button:hover {
    color: var(--btn-fav-color);
    background-color: var(--btn-fav-text-color);
  }
}

table {
  width: 100%;
  max-height: 68.8rem;
  margin-top: 8.7rem;
  border-radius: 1.2rem;
  outline: .1rem solid var(--table-border-color);
  text-align: left;
  color: var(--table-text-color);
  border-collapse: collapse;
  overflow: hidden;
}

thead th {
  padding: 1.6rem 2.4rem 1.6rem 4rem;
  line-height: 160%;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--th-bg-color);
}

tbody {

  & tr + tr {
    border-top: .1rem solid var(--table-border-color);
  }

  & tr:nth-child(even) {
    background-color: var(--tr-even-bg-color);
  }

  & tr:nth-child(odd) {
    background-color: var(--tr-odd-bg-color);
  }

  & td {
    padding: 2.4rem 2.4rem 2.4rem 4rem;
    font-size: 2rem;
  }

  & .user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  
  & .user a {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: currentColor;
    text-decoration: none;
  }

  & .user p {
    font-weight: bold;
  }
  
  & .user a p,
    .user a span {
    font-size: 2rem;
  }

  & .user img {
    width: 5.6rem;
    height: 5.6rem;
    object-fit: cover;
    border-radius: 50%;
  }

  & .btn-remove {
    border: none;
    background: none;
    font-weight: 700;
    font-size: 2rem;
    color: var(--btn-remove-color);
    cursor: pointer;
  }
}
