@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-archivo: 'Archivo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-poppins);
  background: #e5e5e5;
}

body::before {
  content: '';
  width: 100%;
  height: 360px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 74px;
}

header h1 {
  font-family: var(--font-archivo);
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  color: white;
}

header p {
  color: #42d3ff;
  font-size: 16px;
  line-height: 26px;
}

form {
  padding: 64px;
  margin-top: 38px;
  background: #fafafc;
  border-radius: 8px;
  min-height: 300px;
}

fieldset {
  border: none;
}

legend {
  font-family: var(--font-archivo);
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6f0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
}