@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --color01:#2F2E41;
  --color02:#00BFA6;
  --color03:#C2C2C2;
  --color04:#FFFFFF;
  --font-tittle:'JetBrains Mono', monospace;
  --font-paragrafo: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color04);
  background-color: var(--color01);
  font-family: var(--font-paragrafo);
}

.hero {
  width: 1090px;
  margin: auto;
  padding-top: 70px;
}

nav {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav ul {
  list-style:none;

  display: flex;
  gap: 64px;
}

a {
  color: var(--color04);
  text-decoration: none;
}

a:hover {
  color: var(--color02);
  transition: .3s;
}

nav, footer, h1 {
  font-family: var(--font-tittle);
}

main {
  margin-bottom: 165px;

  display: flex;
  gap: 83px;;
  align-items: center;
  justify-content: space-between;
}

section#texto {
  text-align: center;
}

section#texto h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 59px;
}

section#texto p {
  color: var(--color03);
  font-size: 16px;
  line-height: 28px;
}

span {
  color: var(--color02);
}

footer {
  text-align: center;
}

.line {
  width: 568px;
  height: 0;
  margin: 0 auto 27px;
  border: 1px solid var(--color02);
}

#lock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
  