@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-size: 62.5%;
  --text-color: #E1E1E6;
  --primary-color: #043444;
  --bg-table-color: #06181C;
  --even-table-color: #06161B;
  --even-border-color: #86E9FF;
  --table-border-color: #4A808C;
  --placeholder-color: #7C7C8A;
  --btn-remove-color: #F75A68;
  --btn-add-color: #065E7C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh ;
  color: var(--text-color);
  background-color: #141414;
}

.sr-only {
  position: absolute;
  padding: 0;
  width: .1rem;
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 8.7rem;

  & .add-favorites {
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  & #input-username {
    width: 46.2rem;
    height: 4.8rem;
    padding: 1.6rem;
    border: none;
    border-radius: .8rem;
    color: var(--text-color);
    background-color: var(--bg-table-color);
  }

  & #input-username::placeholder {
    color: var(--placeholder-color);
  }

  & #favorite {
    font-weight: bold;

    height: 4.8rem;
    padding: 1.2rem 3.2rem;

    color: var(--text-color);
    background-color: var(--btn-add-color);
    border: none;
    border-radius: .8rem;

    display: flex;
    align-items: center;
    gap: .8rem;
    
    cursor: pointer;
    transition: background .3s ease-out, color .3s ease-out;
  }

  & #favorite:hover {
    color: var(--btn-add-color);
    background-color: var(--text-color);
  }
}

table {
  outline: .1rem solid var(--table-border-color);
  border-radius: 1.2rem;
  border-collapse: collapse;
  background-color: var(--bg-table-color);
  overflow: hidden;
}

thead {
  width: 100%;
  text-align: left;
  
  & th {
    overflow: hidden;
    padding: 1.6rem 4rem;
    background-color: var(--primary-color);
  }

  & th:first-child {
    border-top-left-radius: 1.2rem;
  }

  & th:last-child {
    border-top-right-radius: 1.2rem;
  }
}

tbody {
  & tr + tr {
    border-top: .1rem solid var(--table-border-color);
  }

  & tr:nth-child(even) {
    background-color: var(--even-table-color);
  }

  & td {
    padding: 2.4rem 4rem;

    & button.remove {
      cursor: pointer;
      background: none;
      border: none;
      font-weight: bold;
      color: var(--btn-remove-color);
    }
  }

  & .user {
    display: flex;
    gap: .8rem;
  
    & img {
      width: 5.6rem;
      height: 5.6rem;
      object-fit: cover;
      border-radius: 50%;
    }
  
    & a {
      color: currentColor;
      text-decoration: none;
  
      & p {
        font-weight: bold;
        line-height: 160%;
        margin-bottom: .8rem;
      }
    }
  }
}